<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
	<strong>Events Created:</strong>
	<ul>
	<% @user.events.each do |event|%>
		<li><%= link_to event.name, user_event_path(@user, event)%></li>
	<% end %>		
	</ul>

</p>

<p>
	<%= link_to 'Create New Event', new_user_event_path(@user) %>
</p>
<%= link_to 'Back', users_path %>
